<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>文件上传</h2>
<hr>
<!-- multipart/form-data: 文件上传必须设置的属性 -->
<form action="/portrait" method="post" enctype="multipart/form-data">
    name: <input type="text" name="name"><br>
    portrait: <input type="file" name="portrait"><br>
    <hr>
    <button>submit</button>
</form>
</body>
</html>